* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.block {
  width: 500px;
  height: 100px;
  background-color: red;
  border-radius: 20px;
  transition: width 1s ease, height 1s ease;
}

.block1 {
  width: 700px;
  height: 200px;
  transition: width 1s ease, height 1s ease;
  background-color: blue;
}
