* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(186, 182, 182);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input {
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  outline: none;
  border: none;
}

.div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul li {
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  width: 100%;
  list-style: none;
  background-color: white;
}
